<div class="container animal content-align-center">
    <ul class="list-unstyled">
        <li><h2>{{animal.name}}</h2></li>
        <li><img src={{animal.img}}> </li>
        {{#each animal}}
            <li id="{{@key}}"><span style="font-weight:bold;">{{@key}}:</span> {{this}}</li>
        {{/each}}
        <li><a href="/animals/adoption{{animal.id}}"><button type="button" class="btn btn-success">Adopt me!</button></li></a>
    </ul>  
</div>